.breadcrumbs{
    margin: 15px 0 38px 0;
    font-size: 15px;
    color: #434243;
    a{
        color: #434243;
        &:hover{text-decoration: underline;}
    }
}

@media only screen and (max-width : 767px){
    .breadcrumbs{font-size: 14px;}
}