.main-form{
    padding: 56px 0 80px 0;
    background: center 0 no-repeat;
    background-attachment: fixed;
    background-size: cover;
    &--tech{background-image: url(../img/pic/tech-form.jpg);}
    &--agro{background-image: url(../img/pic/agro-form.jpg);}
    &--credit{background-image: url(../img/credit/investoram-form.jpg);}
    color: #fff;
    &__title{
        text-align: center;
        margin-bottom: 36px;
        font-size: 40px;
        font-weight: 600;
		a{
			color: #fff;
			white-space: nowrap;
		}
    }
    &__form{margin: 0;}
    &__input{
        display: block;
        width: 100%;
        border: none;
        outline: none;
        box-shadow: none;
        height: 52px;
        border-radius: 26px;
        background: #fff;
        padding: 0 25px 0 50px;
        font-size: 17px;
        color: #000;
        &::-webkit-input-placeholder{opacity: .5; color: #000;}
        &::-moz-placeholder{opacity: .5; color: #000;}
        &:-moz-placeholder{opacity: .5; color: #000;}
        &:-ms-input-placeholder{opacity: .5; color: #000;}
        &:placeholder{opacity: .5;color: #000;}      
        &.error{
            box-shadow: 0 0 5px red inset;
        } 
    }
    &__textarea{
        height: 250px;
        resize: none;
        margin-bottom: 30px;
        padding: 25px 25px 25px 50px;
    }
    &__row{
        display: flex;
        align-items: stretch;
        justify-content: space-between;        
        .main-form__input{width: calc((100% - 60px) / 3;}
        .main-form__input:nth-child(2){margin-right: 40px;}
        .main-form__submit{
            width: calc((100% - 60px) / 3 - 40px);
            height: 52px;
        }
    }
}

@media only screen and (max-width : 991px){
    .main-form{
        &__title{font-size: 30px;}
        &__input{padding-left: 25px;}
        &__row{            
            .main-form__input:nth-child(2){margin-right: 0;}
            .main-form__input,
            .main-form__submit{
                width: calc((100% - 30px) / 3);
            }
        }
    }
    
}
@media only screen and (max-width : 767px){
    .main-form{
        padding: 40px 0;
        &__title{font-size: 28px;}
        &__input{margin-bottom: 20px;}
        &__row{       
            display: block;
            .main-form__input:nth-child(2){margin-right: 0;}
            .main-form__input,
            .main-form__submit{
                width: 100%;
            }
        }
    }
}
