.calc-video{
	margin: 68px 0 77px;
	padding: 80px 0 100px;
	color: #fff;
	background: url(../img/video/bg.jpg) center center no-repeat;
	background-size: cover;
	.sec__title{
		color: #fff;
		margin-bottom: 50px;
	}
	&__wrap{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__blc{
		width: 50%;
	}
	&__blind{
		width: 100%;
		position: relative;
		cursor: pointer;
		&:after{
			content: '';
			display: block;
   			position: absolute;
			z-index: 2;
   			top: 50%;
   			left: 50%;
   			transform: translate(-50%, -50%);
   			background: url(../img/video/play.svg) center center no-repeat;
			background-size: contain;
			width: 80px;
			height: 80px;
		}
	}
	&__txt{
		width: 50%;
		padding-left: 30px;
	}
	&__txt{
		display: flex;
		align-items: center;
		justify-content: space-between;
		&-main{
			width: calc(100% - 110px);
			b{
				display: block;
				font-size: 24px;
				font-weight: bold;
				line-height: 33px;
			}
		}
	}
	&__logo{
		width: 93px;
		margin-right: 18px;
	}
}
@media only screen and (max-width : 1099px){
	.calc-video__txt{display: block;}
	.calc-video__txt-main{width: 100%;}
	.calc-video__logo{margin-bottom: 12px;}
}
@media only screen and (max-width : 767px){
	.calc-video{
		margin: 50px 0;
		padding: 0;
		color: #333;
		background: none;
		.sec__title{
			color: #333;
			margin-bottom: 26px;
		}
		&__wrap{display: block;}
		&__blc{
			width: 100%;
			margin-bottom: 20px;
		}
		&__blind{
			&:after{
				width: 45px;
				height: 45px;
			}
		}
		&__txt{
			width: 100%;
			padding-left: 0;
			text-align: center;
			font-size: 14px;
			line-height: 20px;
		}
		&__txt{
			display: block;
			&-main{
				width: 100%;
				b{
					font-size: 18px;
					line-height: 25px;
					font-weight: 600;
					margin-bottom: 4px;
				}
			}
		}
		&__logo{display: none;}
	}
}