.video-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    &__overlay{
        background: rgba(0,0,0,.6);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    &__container{
        width: 860px;
		max-width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.3);
        opacity: 0;
        transition: transform .25s ease;
        
        background: #000;
    }
    &.show{
        .video-wrapper__container{
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
    &__blc{
        position: relative;
        padding-top: 60.25%;
        width: 100%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%!important;
            height: 100%!important;
        }
    }
    &__close{
        width: 30px;
        height: 30px;
        position: absolute;
        top: -30px;
        right: -30px;
        font-size: 0;
        &:before,
        &:after{
            content: '';
            display: block;
            width: 30px;
            background: #fff;
            height: 4px;
            border-radius: 2px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -2px 0 0 -15px;
        }
        &:before{transform: rotate(-45deg);}
        &:after{transform: rotate(45deg);}
    }
}

@media only screen and (max-width : 767px){
    .video-wrapper{
        &__container{
            width: 90%;
        }
        &__close{
			height: 40px;
			top: -50px;
			right: 0px;
			&:before,
			&:after{
				width: 40px;
				margin: -2px 0 0 -20px;
			}
		}
    }
}